@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply outline-none;
  }

  body {
    @apply text-white
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: white;
  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }

  .no-scroll {
    @apply h-full overflow-hidden;
  }
}
